{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load rest_framework %}

{% block html_tag %}<html lang="en">{% endblock html_tag %}

{% block title %}Django.nu >> Blog{% endblock %}

{% block style %}
    {{ block.super }}
{% endblock %}

{% block navbar %}
{% endblock navbar %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
{% endblock content %}

    {% block footer %}
    {% endblock %}

    {% block head_script %}
{{ block.super }}
        <script src="{% static 'blog/app/lib/angular-1.2.0-rc.2/angular.js' %}"></script>
        <script src="{% static 'blog/app/lib/angular-1.2.0-rc.2/angular.min.js' %}"></script>
        <script src="{% static 'blog/app/lib/angular-1.2.0-rc.2/angular-resource.js' %}"></script>
        <script src="{% static 'blog/app/lib/angular-1.2.0-rc.2/angular-route.js' %}"></script>
        <script src="{% static 'blog/app/lib/angular-1.2.0-rc.2/angular-animate.js' %}"></script>
        <script src="{% static 'blog/app/js/app.js' %}"></script>
        <script src="{% static 'blog/app/js/controllers.js' %}"></script>
        <script src="{% static 'blog/app/js/services.js' %}"></script>
        <script src="{% static 'blog/app/js/filters.js' %}"></script>
    {% endblock head_script %}
{% block script %}
    {{ block.super }}
    {% include 'blog/includes/google-analytics.html' %}
{% endblock script %}
{% comment %}
    <script src="{% static "rest_framework/js/jquery-1.8.1-min.js" %}"></script>
    <script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>
{% endcomment %}
