*static/less/*
*static/img/*
*static/font/*
*static/media/*
*static/css/*
*static/img/*
deploy/*
.idea
*bootstrap*
*.pyc
*.pyo
*.db
.DS_Store
.coverage
.swp
local_settings.py
media/
production_settings.py
